/* CSS for Etch a Sketch project */
#container{
	width:500px;
	margin:auto;
}

.square{
	border:1px solid black;
	margin:2px;
	float:left;
	}

.gridRow{
	height:24px;
	clear:both;
}

#clearBut{
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 50%;
}
	
